body {
    background-size: cover;
    background-image: url("./images/code_photo.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-title {
    background-color: rgb(88, 86, 86);
    font: 20px "Fira Sans", sans-serif;
    width: 100%;
    height: 15%;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.main-content {
    width: 80%;
    height: 80%;
    background-color: rgb(246, 246, 246);
    margin-top: 0;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.buttonActive{
    font-weight: bold;
    color: rgb(143, 63, 176);
    border: 1px solid #fff;
    box-shadow: 0 0 3px #0006;
    border-radius: 2px;
}

.tabs section{
    display: none;
}

section.tabActive {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

nav {
    background-color: #fff;
    width: 100%;
    border: 1px solid rgb(88, 86, 86);
    box-shadow: 0 0 3px #0006;
}

nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav > ul > li > button {
    border: none;
    margin-right: 20px;
    font: 20px "Fire Sans", sans-serif;
    background-color: #fff;
}
/* section.tabActive{
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
} */

/* .back-footer{
    background-color: rgb(246, 246, 246);
    height: 10%;
    width: 80%;
}

.back {
    padding: 0 0 5px 40px;
    text-align: left;
}

.back > a {
    text-decoration: none;
    color: #000;
    font: 20px "Fira Sans", sans-serif;
}

.back > a:hover{
    color:rgb(0, 102, 255)
} */
